{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to art gallery</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">  
        <center>
            <div class="col-8">
                <br><br>
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mi eros, vestibulum vel est vitae, cursus dapibus quam. Cras ullamcorper ligula scelerisque leo iaculis, eget sollicitudin dui scelerisque. Suspendisse et lorem odio. In elementum nec ipsum sed molestie. Vestibulum ut leo ut augue tincidunt efficitur et lacinia libero. Nunc facilisis tellus nibh, commodo porttitor elit vehicula vel. Donec eget tempus felis, mattis rutrum mauris. Nullam ultricies porta enim, sit amet ullamcorper orci vehicula ut. Donec malesuada, enim non elementum pharetra, neque metus imperdiet odio, non dictum elit urna nec risus. Aliquam erat volutpat. Quisque dictum tortor fermentum ligula feugiat vulputate. Aliquam non arcu ex. Aliquam eleifend elit tortor, in posuere urna vestibulum eu.
                    <br><br>
                    Donec tempor magna a erat tincidunt molestie. Integer commodo vulputate libero. In mattis condimentum tellus ac pretium. Donec placerat, lacus dapibus ullamcorper lacinia, ligula tellus gravida lacus, luctus luctus leo lorem non augue. Maecenas vitae finibus massa. Praesent condimentum rutrum aliquam. Nullam ut tempor massa. Mauris eget eleifend risus. Maecenas mattis, eros facilisis porta gravida, est odio auctor metus, nec aliquet risus sapien non mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque vitae sagittis turpis.
                    <br><br>
                    Nunc sit amet justo vulputate ligula aliquet ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas molestie massa velit, eu lobortis nulla pharetra condimentum. In hac habitasse platea dictumst. Fusce sed nisl ipsum. Integer congue tortor vitae tellus viverra, ac molestie lectus facilisis. Mauris tempus dui quis ligula sodales, eu tempor lorem posuere. Vestibulum massa nunc, rhoncus vitae turpis vel, fringilla pulvinar libero. Praesent feugiat, arcu vel faucibus sodales, neque felis iaculis ex, sit amet tincidunt nisl lorem quis est. Mauris in dignissim libero. Sed purus turpis, placerat quis eros in, malesuada scelerisque quam. Fusce nulla nulla, rutrum in lacinia nec, posuere nec quam. In rutrum felis tristique, dapibus orci condimentum, blandit justo.
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}